<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ name }}, {{ title }}, {{ location }}</title>
<meta name="description" content="{{ title }}">
<meta name="generator" content="ZX Spectrum 128 +2" />
<meta name="author" content="{{ name }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@t_pk" />
<meta name="twitter:creator" content="@t_pk" />

<link rel="icon" type="image/png" href="" /> <!-- @todo -->
<link rel="stylesheet" href="/assets/css/main.css?{{ cache_buster }}">

<meta property="og:image" content="https://nclarkson.herokuapp.com/assets/images/me.jpg"/>
<meta property="og:title" content="{{ name }}"/>
<meta property="og:description" content="{{ title }}"/>
<meta property="og:site_name" content="{{ name }}"/>
<meta property="og:url" content="{{ contact.website }}"/>
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="1592717320815147" /> 