<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.name }}, {{ title }}, {{ location }}</title>
<meta name="description" content="{{ description }}">
<meta name="generator" content="ZX Spectrum 128 +2" />
<meta name="author" content="{{ site.name }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.name }}" />
<meta name="twitter:creator" content="{{ socials.twitter.handle }}" />

<link rel="icon" type="image/png" href="" /> <!-- @todo -->
<link rel="stylesheet" href="/assets/css/main.css?{{ cache_buster }}">

<meta property="og:image" content="https://nclarkson.herokuapp.com/assets/images/me.jpg"/>
<meta property="og:title" content="{{ site.name }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:site_name" content="{{ site.name }}"/>
<meta property="og:url" content="{{ site.url }}"/>
<meta property="og:type" content="website" />
<meta property="fb:app_id" content="{{ socials.facebook.app_id }}" /> 

<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.ga }}');
</script>
