{% extends "default.twig" %}
{% block content %}

        <div class="hg__u hg__u--span-2">
            <h2>Contact</h2>
        </div>
    
        <div class="hg__u hg__u--span-2">
            <ul>
                <li><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
                <li><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></li>
                <li><a href="https://t.me/{{ contact.telegram }}">@{{ contact.telegram }}</a></li>
            </ul>
        </div>

        <div class="hg__u hg__u--span-2">
            <h2>Social</h2>
        </div>

        <div class="hg__u hg__u--span-2">
            <ul>
                {% for link in social %}
                    <li><a target="_blank" href="{{ link.url }}">{{ link.label }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="hg__u hg__u--span-2">
            <h2>Links</h2>
        </div>
 
        <div class="hg__u hg__u--span-2">
            <ul>
                {% for link in links %}
                    <li><a target="_blank" href="{{ link.url }}">{{ link.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
    

{% endblock %}