<!DOCTYPE html>
<html lang="en-GB">
    <head>
        {% include 'partials/head.twig' %}
        <!-- If you are interested in how this page works, you can view the code here: https://github.com/netotaku/cv-on-heroku. -->
    </head>
    <body>
        <article class="grid">
            
            <header class="grid__unit grid__unit--2-5 u-mobile-hr">
                <h1>{{ name }}</h1>
                <h2>{{ title }}</h2>
                <h3 class="u-grey">{{ location }}</h3>            
            </header>

            <div class="grid__unit grid__unit--2-3 u-mobile-hr">
                <h2>Introduction</h2>
            </div>

            <div class="grid__unit grid__unit--3-5 u-mobile-hr">
                {{ personal_statement | markdown | raw }}
            </div>   

            <div class="grid__unit grid__unit--2-3 u-mobile-hr">
                <h2>Experience</h2>
            </div>         

            {% for job in work_experience %}

                <div class="grid__unit grid__unit--3-4">                                        
                    <h3>
                        {% if job.link %}
                            <a href="{{ job.link }}" target="_blank">
                                {{ job.company }}</a>
                        {% else %}
                            {{ job.company }}
                        {% endif %}
                    </h3>
                    <h4>{{ job.position }}</h4>
                    <p class="u-mobile-hr u-grey"><em><time datetime="{{ job.start }}">{{ job.start | format_date }}</time> - <time datetime="{{ job.end }}">{{ job.end | format_date }}</time></em></p>
                </div> 

                <div class="grid__unit grid__unit--4-5 u-mobile-hr"> 
                    {{ job.description | markdown | raw }}  
                </div>                         
            
            {% endfor %}

            <div class="grid__unit grid__unit--2-3 u-mobile-hr">
                <h2>Skills</h2>
            </div>  

            <div class="grid__unit grid__unit--3-5 u-mobile-hr">
                {% for key,skill in skills %}
                    <h3>{{ key }}</h3>
                    <p>{{ skill | join(', ') }}</p>
                {% endfor %}
            </div>             

            <div class="grid__unit grid__unit--2-3 u-mobile-hr">
                <h2>Awards</h2>
            </div>  

            <div class="grid__unit grid__unit--3-5 u-mobile-hr">
                {% for award in awards %}
                    {{ award | markdown | raw }}
                {% endfor %}
            </div>              

            <div class="grid__unit grid__unit--2-3">
                <h2>Education</h2>
            </div>  

            <div class="grid__unit grid__unit--3-5 u-mobile-hr">
                {% for qualification in education %}
                    <h3>{{ qualification.course }}</h3>
                    <h4>{{ qualification.school }}</h4>
                    <p class="u-grey"><em>{{ qualification.start | format_date }} - {{ qualification.end | format_date }}</em></p>
                    {{ qualification.description | markdown | raw }}
                {% endfor %}                
            </div>  
            
            <footer class="grid__unit grid__unit--2-5 u-mobile-hr">
                <p><img class="vcard" alt="vcard" src="/assets/images/vcard.png" /></p>
                <ul>
                    <li class="u-inline"><a href="{{ contact.twitter }}">Twitter</a></li>
                    <li class="u-inline"><a href="{{ contact.instagram }}">Instagram</a></li>
                    <li class="u-inline"><a href="{{ contact.linkedin }}">LinkedIn</a></li>
                    <li class="u-inline"><a href="{{ contact.strava }}">Strava</a></li>                            
                </ul>  
                <p class="u-grey"><em>Last update / <time datetime="{{ last_updated }}">{{ last_updated | format_date }}</time></em></p>                
            </footer>
                            
        </article> <!-- /.grid -->

    </body>
</html>